In [114]:
import pandas as pd
raw_data = pd.read_csv("/ossfs/workspace/CDSR/mybank_dataset/mybank_rawdata.csv")
raw_data

          Unnamed: 0  domain_id        item_id       user_id
0                  0         28  3202332347979  2.088002e+15
1                  1         28  3202332347979  2.088002e+15
2                  2         28  3202332347979  2.088002e+15
3                  3         28  3202332347979  2.088002e+15
4                  4        495  3202332809370  2.088002e+15
...              ...        ...            ...           ...
76804211    76804211         28  3202332044786  2.088041e+15
76804212    76804212         28  3202332044786  2.088041e+15
76804213    76804213         27  3202332267723  2.088041e+15
76804214    76804214         27  3202332911449  2.088042e+15
76804215    76804215         28  3202333320018  2.088042e+15

[76804216 rows x 4 columns]

In [115]:
# rate_size_dic_i = raw_data.groupby('item_id').size()
# choosed_index_del_i = rate_size_dic_i.index[rate_size_dic_i < 10]
# choosed_index_del_i = rate_size_dic_i.index[rate_size_dic_i < 10]
# raw_data = raw_data[~raw_data['item_id'].isin(list(choosed_index_del_i))] # item freq more than 10
rate_size_dic_u1 = raw_data.groupby('user_id').size()
choosed_index_del_u1 = rate_size_dic_u1.index[rate_size_dic_u1 < 5]
raw_data = raw_data[~raw_data['user_id'].isin(list(choosed_index_del_u1))]
user_unique = list(raw_data['user_id'].unique())
movie_unique = list(raw_data['item_id'].unique())
u = len(user_unique)
i = len(movie_unique)
rating_num = len(raw_data)
# ratings = raw_data.drop(columns=['cvr'])
print(u,i,rating_num)

4792341 4729 52154519

In [116]:
ratings = raw_data
user_unique1 = list(ratings['user_id'].unique())
item_unique1 = list(ratings['item_id'].unique())
user_dict = dict()
item_dict = dict()
for i in range(len(user_unique1)):
    user_dict[user_unique1[i]] = i
for i in range(len(item_unique1)):
    item_dict[item_unique1[i]] = i
ratings['user_id'] = ratings['user_id'].apply(lambda x :user_dict[x])
ratings['item_id'] = ratings['item_id'].apply(lambda x :item_dict[x])
print("all user number :{}, item number :{}".format(len(user_dict),len(item_dict)))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

all user number :4792341, item number :4729

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [117]:
data_d1 = ratings[ratings['domain_id'] == 27]
data_d1 = data_d1.loc[:, ['item_id','user_id']]

data_d2 = ratings[ratings['domain_id'] == 28]
data_d2 = data_d2.loc[:, ['item_id','user_id']]

data_d3 = ratings[ratings['domain_id'] == 495]
data_d3 = data_d3.loc[:, ['item_id','user_id']]
print(len(data_d1),len(data_d2),len(data_d3))

22819115 15553529 13781875

In [118]:
from collections import defaultdict

def find_dict(ratings):
    seq = defaultdict(list)  
    uid = ratings['user_id'].tolist()
    iid = ratings['item_id'].tolist()
    for i in range(len(uid)):
        seq[uid[i]].append(iid[i])
    return seq

seq1 = find_dict(data_d1)
seq2 = find_dict(data_d2)
seq3 = find_dict(data_d3)

In [119]:
# another dataset
data_d2 = data_d3
seq2 = seq3

In [120]:
user_unique1 = list(data_d1['user_id'].unique())
user_unique2 = list(data_d2['user_id'].unique())
user_node,seq_d1, seq_d2, domain_id  = [], [], [], []

for u_id_tmp in user_unique1:
    if len(seq1[u_id_tmp])>=5 and (len(seq2[u_id_tmp])>=5 or len(seq2[u_id_tmp])==0):
        user_node.append(u_id_tmp)
        seq_d1.append(seq1[u_id_tmp])
        seq_d2.append(seq2[u_id_tmp])
        domain_id.append(0)

for u_id_tmp in user_unique2:
    if len(seq2[u_id_tmp])>=5 and (len(seq1[u_id_tmp])>=5 or len(seq1[u_id_tmp])==0):
        user_node.append(u_id_tmp)
        seq_d1.append(seq1[u_id_tmp])
        seq_d2.append(seq2[u_id_tmp])
        domain_id.append(1)

df_all = pd.DataFrame({'user_id':user_node,'seq_d1':seq_d1,'seq_d2':seq_d2,'domain_id':domain_id})
df_all['seq_d1'] = df_all['seq_d1'].apply(lambda x: list(set(x)))
df_all['seq_d2'] = df_all['seq_d2'].apply(lambda x: list(set(x)))

In [121]:
print(len(df_all))
user_node_new = df_all['user_id'].tolist()
seq_d1_new = df_all['seq_d1'].tolist()
seq_d2_new = df_all['seq_d2'].tolist()
domain_id_new = df_all['domain_id'].tolist()
user_node,seq_d1, seq_d2, domain_id  = [], [], [], []
for i in range(len(user_node_new)):
    user_node_tmp = user_node_new[i]
    seq_d1_tmp = seq_d1_new[i]
    seq_d2_tmp = seq_d2_new[i]
    domain_id_tmp = domain_id_new[i]
    if (len(seq_d1_tmp)==0 or len(seq_d1_tmp)>=5) and (len(seq_d2_tmp)==0 or len(seq_d2_tmp)>=5) :
        user_node.append(user_node_tmp)
        seq_d1.append(seq_d1_tmp)
        seq_d2.append(seq_d2_tmp)
        domain_id.append(domain_id_tmp)
df_all_new = pd.DataFrame({'user_id':user_node,'seq_d1':seq_d1,'seq_d2':seq_d2,'domain_id':domain_id})
print(len(df_all_new))
df_all_new
# data = df_all.sample(frac=1.0).sample(n=100000, random_state=42)

2436138
531728

,user_id,seq_d1,seq_d2,domain_id
0,32,"[581, 231, 1256, 45, 1267, 19, 630, 378]",[],0
1,69,"[97, 34, 18, 53, 85, 30]","[1601, 2, 102, 167, 104, 271, 306]",0
2,83,"[36, 38, 1267, 85, 93, 607]",[],0
3,126,"[34, 581, 357, 38, 231, 82, 19, 85, 93, 31]","[7, 10, 586, 23, 637]",0
4,140,"[34, 581, 168, 364, 45, 78, 18, 1587]",[],0
...,...,...,...,...
531723,4774827,[],"[579, 454, 838, 589, 25]",1
531724,4777579,[],"[352, 1, 746, 1629, 287]",1
531725,312177,[],"[1632, 367, 272, 1909, 287]",1
531726,4784743,[],"[682, 206, 1552, 3223, 2142]",1
531727,4785697,[],"[352, 838, 40, 300, 47, 284]",1

In [122]:
df_all_new.to_csv("/ossfs/workspace/CDSR/mybank_dataset/mybank_filter_data.csv")

In [123]:
# larger than 999
from itertools import chain
print(len(list(set(list(chain(*list(df_all_new['seq_d1'])))))),len(list(set(list(chain(*list(df_all_new['seq_d2'])))))))

2602 767

In [124]:
# random item set 
import pandas as pd
import json
data = df_all_new
import random

def process_list(my_list):
    # 百分之百的概率，随机弹出两个元素
    if len(my_list) >= 2:
        popped_items = random.sample(my_list, 2)
        my_list = [item for item in my_list if item not in popped_items]
    else:
        popped_items = []

    # 百分之五十的概率，给每个元素加一个1-1000的随机整数
    for i in range(len(my_list)):
        if random.random() < 0.5:
            my_list[i] += random.randint(1, 1000)
    
    random.shuffle(my_list)
    
    return my_list
    
# data = pd.read_csv("/ossfs/workspace/CDSR/mybank_dataset/mybank_filter_data.csv")
item_unique_d1 = list(data_d1['item_id'].unique())
item_d1_start = 10000 
item_unique_d2 = list(data_d2['item_id'].unique())
item_d2_start = 1000000
print(len(item_unique_d1),len(item_unique_d2))
user_node_new = data['user_id'].tolist()
seq_d1_new = data['seq_d1'].tolist()
seq_d2_new = data['seq_d2'].tolist()
domain_id_new = data['domain_id'].tolist()
seq_d1_random, seq_d2_random  = [], []
zs1, zs2 = 0, 0
for i in range(len(user_node_new)):
    seq_d1_tmp = seq_d1_new[i]
    seq_d2_tmp = seq_d2_new[i]
    if len(seq_d1_tmp)!=0:
        zs1 += 1
        seq_d1_tmp = [item_d1_start] + seq_d1_tmp
        seq_d1_tmp = process_list(seq_d1_tmp)
        if zs1 % 10 ==0:
            item_d1_start += 1
            
    if len(seq_d2_tmp)!=0:
        zs2 += 1
        seq_d2_tmp = [item_d2_start] + seq_d2_tmp
        seq_d2_tmp = process_list(seq_d2_tmp)
        if zs2 % 10 ==0:
            item_d2_start += 1
    seq_d1_random.append(seq_d1_tmp)
    seq_d2_random.append(seq_d2_tmp)
seq_d1_random2, seq_d2_random2  = [], []
for i in range(len(user_node_new)):
    seq_d1_tmp = seq_d1_random[i]
    seq_d2_tmp = seq_d2_random[i]
    if len(seq_d1_tmp)!=0:
        zs1 += 1
        seq_d1_tmp = [item_d1_start] + seq_d1_tmp
        if zs1 % 10 ==0:
            item_d1_start += 1
            
    if len(seq_d2_tmp)!=0:
        zs2 += 1
        seq_d2_tmp = [item_d2_start] + seq_d2_tmp
        if zs2 % 10 ==0:
            item_d2_start += 1
    seq_d1_random2.append(seq_d1_tmp)
    seq_d2_random2.append(seq_d2_tmp)
df_all = pd.DataFrame({'user_id':user_node_new,'seq_d1':seq_d1_random2,'seq_d2':seq_d2_random2,'domain_id':domain_id_new})

3247 915

In [125]:
# print(item_d1_start,item_d2_start)
print(len(list(set(list(chain(*list(df_all['seq_d1'])))))),len(list(set(list(chain(*list(df_all['seq_d2'])))))))

58602 68435

In [126]:
from itertools import chain
user_unique1 = list(df_all['user_id'].unique())
item_unique = list(df_all['seq_d1']) + list(df_all['seq_d2'])
item_unique1 = list(set(list(chain(*item_unique))))
user_dict = dict()
item_dict = dict()
for i in range(len(user_unique1)):
    user_dict[user_unique1[i]] = i
for i in range(len(item_unique1)):
    item_dict[item_unique1[i]] = i
df_all['user_id'] = df_all['user_id'].apply(lambda x :user_dict[x])
def get_item_hash(item):
    return [item_dict[i] for i in item]
df_all['seq_d1'] = df_all['seq_d1'].apply(get_item_hash)
df_all['seq_d2'] = df_all['seq_d2'].apply(get_item_hash)
print("all user number :{}, item number :{}".format(len(user_dict),len(item_dict)))

all user number :501173, item number :123133

In [127]:
# print(df_all)
df_all = df_all.sample(frac=1.0).sample(n=100000, random_state=42)
print(len(list(set(list(chain(*list(df_all['seq_d1'])))))))
print(len(list(set(list(chain(*list(df_all['seq_d2'])))))))

47346
55679

In [128]:
data = df_all.sample(frac=1.0)
train_len = int(data.shape[0] * 0.80)
save_data_train = data.iloc[ : train_len]
save_data_val = data.iloc[ train_len: ]
train_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_train100.csv"
val_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_test.csv"
save_data_train.to_csv(train_name, index=False)
save_data_val.to_csv(val_name, index=False)

In [129]:
import os
import random
from typing import DefaultDict
from tqdm import tqdm
import numpy as np
import pandas as pd
from collections import defaultdict
import json
from random import sample

def select_overlap_user(train_name,save_train_name,overlap_ratio):
    data = pd.read_csv(train_name)
    user_node = data['user_id'].tolist()
    seq_d1 = data['seq_d1'].tolist()
    seq_d2 = data['seq_d2'].tolist()
    domain_id = data['domain_id'].tolist()
    user_node_overlap,seq_d1_overlap, seq_d2_overlap, domain_id_overlap  = [], [], [], []
    user_node_nolap,seq_d1_nolap, seq_d2_nolap, domain_id_nolap  = [], [], [], []
    for i in range(len(user_node)):
        seq1_tmp = json.loads(seq_d1[i])
        seq2_tmp = json.loads(seq_d2[i])
        if len(seq1_tmp)!=0 and len(seq2_tmp)!=0:
            user_node_overlap.append(user_node[i])
            seq_d1_overlap.append(seq1_tmp)
            seq_d2_overlap.append(seq2_tmp)
            domain_id_overlap.append(domain_id[i])
        else :
            user_node_nolap.append(user_node[i])
            seq_d1_nolap.append(seq1_tmp)
            seq_d2_nolap.append(seq2_tmp)
            domain_id_nolap.append(domain_id[i])
    print(len(user_node_overlap),len(user_node_nolap)) # 3384 69945
    #nolap_num = int(len(user_node_overlap)/overlap_ratio-len(user_node_overlap)) # 3384 + 
    sample_nolap_num = int(len(user_node_nolap)*overlap_ratio)
    idx_lst = [i for i in range(len(user_node_nolap))]
    select_idx = sample(idx_lst, sample_nolap_num)
    print(sample_nolap_num)
    # print(select_idx)
    for idx_tmp in select_idx:
        user_node_overlap.append(user_node_nolap[idx_tmp])
        seq_d1_overlap.append(seq_d1_nolap[idx_tmp])
        seq_d2_overlap.append(seq_d2_nolap[idx_tmp])
        domain_id_overlap.append(domain_id_nolap[idx_tmp])
    dataframe = pd.DataFrame({'user_id':user_node_overlap,'seq_d1':seq_d1_overlap,'seq_d2':seq_d2_overlap,'domain_id':domain_id_overlap})
    dataframe.to_csv(save_train_name,index=False,sep=',')

train_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_train100.csv"

ratios = [0.25,0.75]
for overlap_ratio in ratios:
    save_train_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_train"+str(int(overlap_ratio*100))+".csv"
    select_overlap_user(train_name,save_train_name,overlap_ratio)

9345 70655
17663
9345 70655
52991

In [130]:
import os
import random
from typing import DefaultDict
from tqdm import tqdm
import numpy as np
import pandas as pd
from collections import defaultdict
import json
from random import sample

def select_overlap_user(train_name,save_train_name,overlap_ratio):
    data = pd.read_csv(train_name)
    user_node = data['user_id'].tolist()
    seq_d1 = data['seq_d1'].tolist()
    seq_d2 = data['seq_d2'].tolist()
    domain_id = data['domain_id'].tolist()
    user_node_overlap,seq_d1_overlap, seq_d2_overlap, domain_id_overlap  = [], [], [], []
    user_node_nolap,seq_d1_nolap, seq_d2_nolap, domain_id_nolap, ob_nolap  = [], [], [], [], []
    for i in range(len(user_node)):
        seq1_tmp = json.loads(seq_d1[i])
        seq2_tmp = json.loads(seq_d2[i])
        if len(seq1_tmp)!=0 and len(seq2_tmp)!=0:
            user_node_overlap.append(user_node[i])
            seq_d1_overlap.append(seq1_tmp)
            seq_d2_overlap.append(seq2_tmp)
            domain_id_overlap.append(domain_id[i])
            ob_nolap.append(1)
        else :
            user_node_nolap.append(user_node[i])
            seq_d1_nolap.append(seq1_tmp)
            seq_d2_nolap.append(seq2_tmp)
            domain_id_nolap.append(domain_id[i])
            # ob_nolap.append(1) # observed data
    print(len(user_node_overlap),len(user_node_nolap)) # 3384 69945
    #nolap_num = int(len(user_node_overlap)/overlap_ratio-len(user_node_overlap)) # 3384 + 
    sample_nolap_num = int(len(user_node_nolap)*overlap_ratio)
    idx_lst = [i for i in range(len(user_node_nolap))]
    select_idx = sample(idx_lst, sample_nolap_num)
    not_select_idx = list(set(idx_lst).difference(set(select_idx)))
    print(sample_nolap_num,len(not_select_idx))
    # print(select_idx)
    for idx_tmp in select_idx:
        user_node_overlap.append(user_node_nolap[idx_tmp])
        seq_d1_overlap.append(seq_d1_nolap[idx_tmp])
        seq_d2_overlap.append(seq_d2_nolap[idx_tmp])
        domain_id_overlap.append(domain_id_nolap[idx_tmp])
        # user_node_nolap.append(user_node_overlap[idx_tmp])
        # seq_d1_nolap.append(seq_d1_overlap[idx_tmp])
        # seq_d2_nolap.append(seq_d2_overlap[idx_tmp])
        # domain_id_nolap.append(domain_id_overlap[idx_tmp])
        ob_nolap.append(1) # observed data
    # print(len(user_node_nolap))
    for idx_tmp in not_select_idx:
        user_node_overlap.append(user_node_nolap[idx_tmp])
        seq_d1_overlap.append(seq_d1_nolap[idx_tmp])
        seq_d2_overlap.append(seq_d2_nolap[idx_tmp])
        domain_id_overlap.append(domain_id_nolap[idx_tmp])
        # user_node_nolap.append(user_node_overlap[idx_tmp])
        # seq_d1_nolap.append(seq_d1_overlap[idx_tmp])
        # seq_d2_nolap.append(seq_d2_overlap[idx_tmp])
        # domain_id_nolap.append(domain_id_overlap[idx_tmp])
        ob_nolap.append(0) # observed data
    # append not observed data 
    dataframe = pd.DataFrame({'user_id':user_node_overlap,'seq_d1':seq_d1_overlap,'seq_d2':seq_d2_overlap,'domain_id':domain_id_overlap,'ob_label':ob_nolap})
    dataframe.to_csv(save_train_name,index=False,sep=',')

train_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_train100.csv"

ratios = [0.25,0.75]
for overlap_ratio in ratios:
    save_train_name = "/ossfs/workspace/CDSR/mybank_dataset/loan_account_train"+str(int(overlap_ratio*100))+"_DR.csv"
    select_overlap_user(train_name,save_train_name,overlap_ratio)

9345 70655
17663 52992
9345 70655
52991 17664

In [4]:
import pandas as pd

df = pd.read_csv("/ossfs/workspace/CDSR/mybank_dataset/loan_account_train75.csv")
print(len(df))

62336